.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.logo-section {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}

.logo {
  width: 55px;
  height: 55px;
  object-fit: contain;
}

.logo-section h2 {
  margin: 0;
  color: #b76034;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.menu-btn {
  display: none;
  font-size: 28px;
  background: none;
  border: none;
  cursor: pointer;
}

/* MOBILE */

@media (max-width: 768px) {
  .menu-btn {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 80px;
    right: 20px;
    background: white;
    width: 220px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.15);
    z-index: 1000;
  }

  .nav-links.active {
    display: flex;
  }
}